<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontend-final">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontendFinal extends Polymer.Element {
      static get is() { return 'frontend-final'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontend-final'
          }
        };
      }
    }

    window.customElements.define(FrontendFinal.is, FrontendFinal);
  </script>
</dom-module>
