<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="view-mov">
  <template>
    <style>
      :host {
        display: block;
      }
      .imgMov{ width: 80px; height: 80px; }
      .paper-buton-close{ background-color: #ccc; border-radius: 13px; float: right; min-width: unset !important; margin: 10px; border: solid 2px #b2b2b2; color: #303f9f; padding: unset; width: 26px; text-align: center; }
    </style>

    <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet" />

    <app-localstorage-document key="data.local" data="{{islog}}"></app-localstorage-document>
    <div class="row">
      <div class="right-div">
          <a href="#" on-tap="_volver" class="btn btn-danger pull-right">Volver</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              Crear Movimiento
          </div>
          <div class="panel-body text-center recent-users-sec">
            <button class="btn btn-success"  on-tap='_Insert'>Nuevo Movimiento</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="panel panel-success">
           <div class="panel-heading">
              Lista de Movimientos Cuenta {{account.idCuenta}}  del Usuario {{islog.user.nombre}} {{islog.user.apellido}}
           </div>
           <div class="panel-body">
              <div class="table-responsive">
                 <table class="table table-striped table-bordered table-hover">
                   <thead>
                       <tr class="text-center">
                           <th>FECHA</th>
                           <th>TIPO</th>
                           <th>IMPORTE</th>
                       </tr>
                   </thead>
                   <tbody>
                     <template is="dom-repeat" items={{movs}} as="val">
                       <tr>
                         <td>{{val.fecha}}</td>
                         <td>{{val.tipo}}</td>
                         <td>{{val.importe}}</td>
                       </tr>
                     </template>
                   </tbody>
                 </table>
               </div>
             </div>
         </div>
       </div>
    </div>
<!-- POP CREAR -MOVIMIENTO-->
    <paper-dialog id='popLocal' modal style="overflow-y: scroll;">
       <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
       </br>
       <div class="alert alert-info" role="alert" style="text-align:center;">Movimiento</div>
       <div class="card" style="width: 18rem;">
         <div class="text-center">
           <img src="../../assets/img/move.png" class="rounded imgMov" alt="Responsive image">
         </div>
         <div class="card-body">
            <div class="form-group">
              <label for="importe">Importe</label>
              <input type="text" class="form-control" id="importe" placeholder="Ingresar Importe" value="{{mov.importe::input}}" required>
            </div>
            <div class="form-group">
              <label for="tipo">Tipo movimiento</label>
              <input type="text" class="form-control" id="tipo" placeholder="Ingresar Tipo de Movimiento" value="{{mov.tipo::input}}" required>
            </div>
            <button class="btn btn-success" on-tap="_InsertService">Aceptar</button>
         </div>
       </div>
    </paper-dialog>

    <iron-ajax
      id="doMovGet"
      auto=""
      url=[[api.api_host]][[api.api_mov]]/{{account.idCuenta}}
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="movAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

    <iron-ajax
      id="doMovPost"
      url=[[api.api_host]][[api.api_mov]]/{{account.idCuenta}}
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="movPutAJAXResponse"
      on-error="showError"
      headers$='{"authorization": "{{islog.token}}"}'>

  </template>

  <script>
    class ViewMov extends Polymer.Element {
      static get is() { return 'view-mov'; }
      static get properties() {
        return {
          mov: {
            type: Array
          },
          movs: {
            type: Array
          },
          api: {
            type: Object
          },
          account: {
            type: Object,
            value:{}
          },
          is_mov: {
            type: String,
            notify: true
          },
          islog: {
           type: Object,
           value: {}
         }
        };
      }

    movAJAXResponse(data) {
      this.movs=[];
      if(null!=data.detail.response)
        this.movs=data.detail.response.movimiento;
    }

    showError(error) {
      console.log("error")
    }

    movPutAJAXResponse(data) {
      this.$.doMovGet.generateRequest();
      this.$.popLocal.close();
    }

    _volver() {
      this.is_mov="NOK";
    }

    _isEqualTo(title, string){
      return title == string;
    }

    _Insert(){
      this.mov = {};
      this.$.popLocal.open();
    }

    _InsertService(){
      this.$.doMovPost.body = JSON.stringify(this.mov);
      this.$.doMovPost.generateRequest();
    }
}

    window.customElements.define(ViewMov.is, ViewMov);
  </script>
</dom-module>
